@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Background */
@defaultBackground: #0E0A1A;

/* Default Font */
@defaultFontFamily: 'Open Sans', sans-serif;
@defaultFontColor: #97AD03;
@defaultFontSize: 1.0em;

/* Default Layout Properties */
@defaultContentWidth: 75%;

/* Header */
@headerTitleFontMagnitude: 1.5;
@headerLinkFontColor: lighten(@defaultBackground, 80%);