@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* Background */
@defaultBackground: #0E0A1A;

/* Default Font */
@defaultFontFamily: 'Open Sans', sans-serif;
@defaultFontColor: #000000;
@defaultFontSize: 1.0em;

/* Default Layout Properties */
@defaultContentWidth: 75%;

/* Header */
@headerTitleFontMagnitude: 1.5;
@headerFontColor: lighten(@defaultBackground, 80%);
@headerLinkFontColor: @headerFontColor;

/* Main Content */
@contentMinHeight: 32.0em;
@contentInset: 1.0em;