[submodule "php/lib/templates"]
	path = php/lib/templates
	url = git://github.com/rileyteige/templates.git
[submodule "php/lib/markdown"]
	path = php/lib/markdown
	url = https://github.com/michelf/php-markdown.git
