<html>
	<head>
		<title>Main Template</title>
		
		{{ Css('style.css') }}

		{{ Script('jquery-2.0.3.min.js')}}
	</head>
	<body>
		<header id="header">
			<div id="pagetitle">
				{{ PageHeaderTitle }}
			</div>
			<nav>
				<ul>
					<li>{{ LinkLocalPage('/index.html', 'Home') }}</li>
					<li>{{ LinkLocalPage('/resume.html', 'Developer') }}</li>
					<li>{{ LinkLocalPage('/bloglist.html', 'Blog') }}</li>
				</ul>
			</nav>
		</header>
		<section id="main">
			{{CONTENT}}
		</section>
		<footer id="footer">
		</footer>
	</body>
</html>