<html>
	<head>
		<title>Riley Teige | {{ PageHeaderTitle }}</title>
		
		{{ Css('style.css') }}

		{{ Script('jquery-2.0.3.min.js')}}
		{{ Script('start.js') }}
	</head>
	<body>
		<div id="mainImageContainer">
			<img src="{{ MainImageUrl() }}"></img>
		</div>
		<header id="header">
			<nav>
				<ul>
					<li>{{ LinkLocalPage('/index', 'About Me') }}</li>
					<li>{{ LinkLocalPage('/blog', 'Blog') }}</li>
				</ul>
			</nav>
		</header>
		<section id="main">
			{{CONTENT}}
		</section>
		<footer id="footer">
		</footer>
	</body>
</html>